/* TODO: implement App.css design */

.tab-btn {
    background-color: white !important;
    color: black !important;
}

.tab-btn:active,
.tab-btn:focus,
.tab-btn.active {
    outline: none !important;
    box-shadow: none !important;
    background-color: #6c757d !important;
    color: white !important;
}

.add-btn:active,
.add-btn:focus,
.add-btn.active {
    outline: none !important;
    box-shadow: none !important;
}

.query-textarea {
    height: 200px;
}

.query-textarea:active,
.query-textarea:focus,
.query-textarea.active {
    outline: none !important;
    box-shadow: none !important;
}